@charset "utf-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(rgb(151, 151, 43), rgb(196, 137, 28));
}

main {
    width: 600px;
    padding: 10px;
    margin: auto;
    background-color: #fff;
    border-radius: 5%;
    box-shadow: 5px 5px 15px rgba(255, 86, 34, 0.795);
}

h1 {
    color: rgb(212, 212, 1);
    text-align: center
}

h2 {
    color: rgb(123, 123, 228);
}

p {
    text-align: justify;
}