@charset "UTF-8";

body {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    font-size: 1.5em;
    background-color: orange;
    color: darkred;
}
h2 {
    color: darkred;
    font-size: 1.2em;
}
p {
    text-align: justify;
}
